.font-fira-sans {
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.maxwidth {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav p {
    color: rgba(14, 14, 14, 1);
    font-size: 32px;
    font-weight: 700;
}

.btn-sign-in {
    color: rgba(0, 106, 80, 1);
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 106, 80, 1);
    border-radius: 8px;
}