.font-fira-sans {
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.maxwidth {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: #F5F5F5;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav p {
    color: rgba(14, 14, 14, 1);
    font-size: 32px;
    font-weight: 700;
}

.btn-sign-in {
    color: rgba(0, 106, 80, 1);
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 106, 80, 1);
    border-radius: 8px;
    transition: all 0.1s;
}

.btn-sign-in:hover {
    background-color: rgba(0, 106, 80, 1);
    color: white;
}

/* banner styles */

.banner {
    border-radius: 24px;
    background: rgba(198, 228, 214, 1);
    height: 560px;
    padding: 0px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    width: 57%;
}

.banner-content p {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
}

.banner-content h3 {
    color: rgba(14, 14, 14, 1);
    font-size: 56px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 24px;
}

.btn-primary {
    height: 56px;
    padding: 17px 34px;
    border-radius: 8px;
    background: rgba(0, 106, 80, 1);
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.1s;
    border: 1px solid rgba(0, 106, 80, 1);
}

/* Hover effect */
.btn-primary:hover {
    background: transparent;
    color: rgba(0, 106, 80, 1);
}

/* pillar styles */
.pillar-container {
    margin: 80px 0px;
}

.pillar-container h1 {
    margin-bottom: 32px;
    color: rgba(14, 14, 14, 1);
    font-size: 40px;
    font-weight: 700;
}


.pillars {
    display: flex;
    gap: 24px;
}

.pillar {
    width: 302px;
    gap: 24;
    padding: 24px;
    background-color: green;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
}

.pillar h3 .vision h3 {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
}

.pillar p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

/* vision styles */
.visions {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
}

.vision {

    width: 410.67px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;

}

.vision p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 24px;
}

.vision-1 {
    background: rgba(84, 144, 245, 0.2);
}

.vision-2 {
    background: rgba(198, 228, 214, 1);
}

.vision-3 {
    background: rgba(247, 235, 207, 1);
}

.vision-container h1 .opinion-container h1 {
    margin-bottom: 24px;
    color: rgba(14, 14, 14, 1);
    font-size: 40px;
    font-weight: 700;
}

.vision-container p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

.learn-more-btn {
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s;
}

.blue {
    background: rgba(84, 144, 245, 1);
    border: 2px solid rgba(84, 144, 245, 1);
}

.blue:hover {
    background: transparent;
    color: rgba(84, 144, 245, 1);
}

.green {
    background: rgba(9, 161, 92, 1);
    border: 2px solid rgba(9, 161, 92, 1);
}

.green:hover {
    background: transparent;
    color: rgba(9, 161, 92, 1);
}

.yellow {
    background: rgba(255, 194, 57, 1);
    border: 2px solid rgba(255, 194, 57, 1);
}

.yellow:hover {
    background: transparent;
    color: rgba(255, 194, 57, 1);
}

.yunus-quote {
    padding: 48px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: left 24px top 24px;
    background-size: 80px 80px;
}


.yunus-quote h5 {
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
    line-height: 24px;
    letter-spacing: 0%;
}

.yunus-quote h4 {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 4px;
}

.yunus-quote p {
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

/* opinion styles */
.opinion-container {
    background-color: #f5f5f5;
    border-radius: 12px;
    margin: 80px 0;

}

.opinion-table {
    padding: 32px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

.opinion-table table {
    border-collapse: collapse;
    width: 100%;
    background: white;
    overflow: hidden;
    border: 1px solid rgb(223, 222, 222);
}

.opinion-table th {
    background-color: #cbe3d4;
    color: #000;
    font-weight: 600;
    text-align: left;
    padding: 24px;
}

.opinion-table td {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 24px;
    color: rgba(14, 14, 14, 1);
    font-size: 16px;
    font-weight: 600;
}

.opinion-select {
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid #b7d3c7;
    background-color: #e3f0ea;
    cursor: pointer;
    transition: all 0.2s ease;
    color: rgba(14, 14, 14, 1);
    font-size: 16px;
    font-weight: 500;
}

.opinion-select:hover {
    background-color: #d4ebe0;
    border-color: #80bfa6;
}