.font-fira-sans {
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.maxwidth {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: #F5F5F5;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav p {
    color: rgba(14, 14, 14, 1);
    font-size: 32px;
    font-weight: 700;
}

.btn-sign-in {
    color: rgba(0, 106, 80, 1);
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 106, 80, 1);
    border-radius: 8px;
    transition: all 0.1s;
}

.btn-sign-in:hover {
    background-color: rgba(0, 106, 80, 1);
    color: white;
}

/* banner styles */

.banner {
    border-radius: 24px;
    background: rgba(198, 228, 214, 1);
    height: 560px;
    padding: 0px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    width: 57%;
}

.banner-content p {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
}

.banner-content h3 {
    color: rgba(14, 14, 14, 1);
    font-size: 56px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 24px;
}

.btn-primary {
    height: 56px;
    padding: 17px 34px;
    border-radius: 8px;
    background: rgba(0, 106, 80, 1);
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.1s;
    border: 1px solid rgba(0, 106, 80, 1);
}

/* Hover effect */
.btn-primary:hover {
    background: transparent;
    border: 1px solid rgba(0, 106, 80, 1);
    color: rgba(0, 106, 80, 1);
}

/* pillar styles */
.pillar-container {
    margin: 80px 0px;
}

.pillar-container h1 {
    margin-bottom: 32px;
    color: rgba(14, 14, 14, 1);
    font-size: 40px;
    font-weight: 700;
}

.pillars {
    display: flex;
    gap: 24px;
}

.pillar {
    width: 302px;
    gap: 24;
    padding: 24px;
    background-color: green;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
}

.pillar h3 {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
}

.pillar p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}